* {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    padding: 25px 10px;
    background-color: #0b0b10;
    color: #737380;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
body {
    background-color: #f5f3ee;
    color: #292D29;
}
form {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #d8d2c8;
    border-radius: 10px;
}